
name: Frontend CI

on:
  push:
    branches: [ main ]
    paths:
      - 'bnb-frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'bnb-frontend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./bnb-frontend

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build
